---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('Feb 28 2025')}
	heroImage=""
>
	<p>Hi, I'm <strong>Nilesh Pithiya</strong>, a <strong>certified Frappe/ERPNext developer</strong> with expertise in <strong>Python, Frappe, SQL, MariaDB, Vue3, Astro, Tailwind, Bootstrap, Server Setup (AWS, Google Cloud, Self Hosted, Frappe Cloud)</strong>, and more. I specialize in building customized ERP solutions, web applications, and automation tools to help businesses streamline their operations. As a <strong>freelance developer</strong>, I offer tailored solutions to meet your specific needs.</p>

	<h5>What You’ll Find Here</h5>
	<p>This website serves as a <strong>portfolio, blog, and resource hub</strong> for my work with Frappe, ERPNext, and other technologies. Whether you're looking for <strong>technical insights, development tips, or consulting services</strong>, you're in the right place.</p>

	<!-- <h5>Get Started</h5> -->
	<!-- <ul> -->
		<!-- <li><a href="/blog"><strong>My Blog</strong></a> – Insights on ERPNext, Frappe, and development best practices.</li> -->
		<!-- <li><a href="/projects"><strong>My Portfolio</strong></a> – A showcase of past projects and implementations.</li> -->
		<!-- <li><a href="/contact"><strong>Contact Me</strong></a> – Let's discuss how I can help with your next project.</li> -->
	<!-- </ul> -->

	<p>Need a customized ERP solution or technical support?  
		<a href="mailto:pithiyanilesh.d@gmail.com"><strong>Email me</strong></a> or  
		<a href="tel:+918690396934"><strong>Call/WhatsApp</strong></a> today!
	</p>
</Layout>
